.rsiup { 
  border-top-width: 31px;
  padding-top: 77px;
  border-bottom-width: 3px;
  font-size: 71px;
  border-top-width: 14px;
  margin-top: 90px;
  margin-bottom: 28px;
  margin-right: 97px;
  border-bottom-width: 32px;
}
